.fa {
  font-family: $fontAwesomeFont !important;
}
.glyphicon {
  font-family: $glyphiconFont !important;
}
.lead-text {
  font: 26px/1.2em $AkkuratProRegular;
  color: $rich-black-50;
  margin-bottom: 1rem;
}
// Generic work icons
.collection-icon-search {
  color: $rich-black-20;
}

#page h1 {
  word-wrap: break-word;
}
