.content {
  .alert {
    opacity: 1;
    -webkit-transition: opacity 1000ms linear;
    transition: opacity 1000ms linear;
    ul {
      padding-left: 0;
      li {
        background-image: none;
      }
    }
  }
}


// Browse alert box showing selected facets selected
#appliedParams {
  margin-top: 40px;
  .btn {
    margin: 0;
    text-transform: none;
    &#startOverLink {
      @include nu-button();
      margin: 0;
    }
    &.remove {
      margin-right: 0;
      &:active:focus,
      &:active,
      &:focus {
        background-color: $nu-purple;
      }
    }
  }
  .constraints-container {
    margin-bottom: 20px;
  }
  .constraints-label {
    color: $nu-purple;
    font-family: $AkkuratProRegular;
    margin-right: .25rem;
  }
  .constraint-value {
    padding-right: 0;
  }
  .appliedFilter {
    .btn,
    .facets-toggle {
      background-color: $nu-purple;
      border: 0;
      color: $white;
      font-size: 16px;
    }
    .constraint-value {
      &:hover {
        background: $nu-purple;
        color: $white;
      }
    }
    .remove {
      &:active,
      &:hover,
      &:focus {
        background: $nu-purple;
        color: $white;
      }
      > span {
        color: $white;
      }
    }
  }
}
#sortAndPerPage {
  margin-top: 20px;
  .btn-group {
    &.open {
      button {
        background: $nu-purple-60;
      }
    }
    .dropdown-toggle {
      color: $white;
      .caret {
        color: $white;
      }
    }
  }
  .dropdown-menu {
    padding-left: 0;
    > li {
      background: none;
      padding: .25rem .5rem;
      a {
        color: $nu-purple;
      }
    }
  }
  .view-type-group {
    a {
      color: $white;
    }
  }
}
