#facets {
  padding-bottom: 2rem;
  .dropdown-menu {
    border: none;
    box-shadow: none;
    -webkit-box-shadow: none;
    position: relative;
  }
  .facets-heading {
    font-family: $CamptonBold;
  }

}
.facet-values {
  .remove {
    color: $rich-black-50;
    &:hover {
      color: $rich-black-50;
    }
  }
}

.facets {
  position: relative;
  z-index: 1;
  a {
    color: $rich-black-50;
  }
  .facet_limit-active {
    h3 {
      a {
        color: #fff !important;
      }
    }
  }
  .panel-body {
    padding-left: 1.5rem;
  }
  .top-panel-heading {
    h3 {
      color: $nu-purple;
      font-family: $CamptonBold;
    }
  }
}
.collapse-toggle {
  .panel-heading {
    border: 1px solid $light-grey;
    border-bottom: 0;
  }
}
.content {
  .facet-values {
    padding-left: 0;
    > li {
      background: none;
    }
  }
}
.facet_limit-active {
  .panel-heading {
    &.collapse-toggle {
      .panel-title {
        &:after {
            color: $white;
        }
        a {
          color: $white;
        }
      }
    }
  }
}
@media (max-width: 768px) {
  .content {
    #sidebar {
      h2 {
        border-radius: 0;
        font-size: 1.3rem;
      }
    }
  }
  #facets,
  #facets-workflow {
    background: $white;
    padding-bottom: 0;
    .facets-toggle {
      margin: 0;
      outline: 0;
    }
    .top-panel-heading {
      border: 0;
      padding-top: 0;
    }
  }
  .facets {
    #facet-panel-collapse,
    #facet-panel-workflow-collapse {
      margin-bottom: 0;
      width: 100%;
      h3 {
        font-size: 1rem;
      }
    }
    .top-panel-heading {
      border: 1px solid $light-grey;
      padding: 5px 0;
    }
  }
}


@media (min-width: 768px) {
  #sidebar, #facets {
    .navbar-toggle,
    .facets-toggle {
      display: none;
    }
  }
}
