.mce-menubar {
  .mce-menubtn {
    button {
      color: $white !important;
      span {
        color: $white !important;
      }
    }
  }
  .mce-caret {
    border-top-color: $white !important;
  }
}
.mce-caret {
  border-top-color: $white !important;
}
.mce-btn {
  .mce-txt {
    color: $white !important;
  }
}
.mce-ico {
  color: $white !important;
  font-family: 'tinymce' !important;
}
