.panel-title {
  font-size: $panelTitleSize;
}

.panel-heading {
  &.collapse-toggle {
    &.collapsed {
      .panel-title {
        &:after {
          color: inherit;
        }
      }
    }
  }
  &.top-panel-heading {
    padding-left: 0;
  }
}

.panel-body {
  h4 {
    font-family: $CamptonBold;
  }
}

.panel-footer {
  // Buttons to display full width of their container
  .btn {
    display: block;
    margin-bottom: .5rem;
    width: 100%;
  }
}
