#search-results {
  .attribute-label {
    color: $white;
    font-family: $AkkuratProBold;
    font-size: inherit;
  }
  h2 {
    font-size: 24px;
  }
  table {
    th {
      width: 160px;
      .attribute-label {
        color: $rich-black-50;
      }
    }
  }
  ol.catalog {
    > li {
      padding-left: 2rem;
    }
    .row {
      display: inline-block;
    }
  }
}
