// Local vars
.toggle-on-style {
  background: $rich-black-10;
  color: $rich-black-80;
}
.toggle-off-style {
  background: $rich-black-50;
  color: $white;
}

// Autoplay toggle on/off
.toggle {
  &.off {
    .toggle-handle {
      background: $rich-black-10;
    }
  }
  .toggle-handle {
    background: $rich-black-50;
  }
  .toggle-on {
    @extend .toggle-on-style;
    &:hover,
    &:active:focus {
      @extend .toggle-on-style;
    }
  }
  .toggle-off {
    @extend .toggle-off-style;
    &:hover,
    &:active:focus {
      @extend .toggle-off-style;
    }
  }
}

//  Administrative page - toggle buttons
td.toggle input[type=submit].active:active,
td.toggle input[type=submit].active:focus,
input[type="submit"],
input[type="submit"]:focus {
  &:active,
  &:focus {
    background-color: $rich-black-50 !important;
  }
}
//  Administrative page - toggle buttons
td.toggle input[disabled][type=submit].active:hover {
  background: $rich-black-50 !important;
}
td.toggle input[disabled][type=submit]:hover:not(.active) {
  background-color: $rich-black-10 !important;
}
