// Variables

// path to files
// the default is common.northwestern.edu and can be http or https
$path-fonts: 'https://common.northwestern.edu/v8/css/fonts';
$path-images: 'https://common.northwestern.edu/v8/css/images';

// colors
$white: #fff;
$black: #000;
$body-text: #342f2e; // Rich Black 80
$dark-grey: #716c6b; // Rich Black 50
$medium-grey: #ccc;
$light-grey: #f0f0f0;
$red: #b2292e;

// Northwestern Purples
$nu-purple: #4e2a84; // official NU purple
$nu-purple-120: #401f68; // NU purple 120
$nu-purple-60: #836eaa; // NU purple 60
$nu-purple-30: #b6acd1; // NU purple 30
$nu-purple-10: #e4e0ee; // NU purple 10

// fonts
$AkkuratLight: "Akkurat Pro Light", Arial, sans-serif;
$AkkuratLightItalic: "Akkurat Pro Light Italic", Arial, sans-serif;
$AkkuratProRegular: "Akkurat Pro Regular", Arial, sans-serif;
$AkkuratProItalic: "Akkurat Pro Italic", Arial, sans-serif;
$AkkuratProBold: "Akkurat Pro Bold", "Arial Black", sans-serif;
$AkkuratProBoldItalic: "Akkurat Pro Bold Italic", "Arial Black", sans-serif;
$CamptonBook: "Campton Book", Tahoma, sans-serif;
$CamptonBold: "Campton Bold", Impact, sans-serif;
$CamptonExtraBold: "Campton Extra Bold", Impact, sans-serif;
$CamptonExtraLight: "Campton Extra Light", "Courier New", sans-serif;
