<section id="featured_container" class="contain-1120">
  <%= render template: 'nu_partials/arch_callout.html.erb' %>

  <!-- Recently Uploaded section-->
  <!-- Bypass June 2017 Hyrax build -->
  <!--
  <h3><%= t('hyrax.homepage.recently_uploaded.tab_label') %></h3>
  <%= render 'recently_uploaded', recent_documents: @recent_documents %>
  -->
</section>
