<% provide :page_title, application_name %>
<% provide :body_class, 'landing-page' %>
<% provide :is_home, true %>

<div id="home-header">
  <%= render 'home_header' %>
</div>

<div class="row home-content">
  <%= render 'home_content' %>
</div>

<%= render '/shared/select_work_type_modal', create_work_presenter: @presenter.create_work_presenter %>