
// Homepage 3 photos across.  Override a bootstrap p style
.landing-page .photo-feature-3-across .photo-feature p {
  margin: 1em 0;
}

footer {
  a {
    &:hover {
      color: $white;
    }
  }
}

#page {
  header {
    background: none;
  }
}

#department {
  h1 {
    margin: 0;
    padding: 0;
  }
}

#top-bar {
  ul > li {
    i {
      &:first-of-type {
        padding-right: 0.5rem;
      }
    }
  }

  #left {
    #northwestern {
      a {
        margin-top: 17.6px;
      }
    }
  }
}
#bottom-bar {
  padding: 36px 0;

  #site-name {
    h1 {
      margin: 0;
    }
  }
}

#search {
  width: 420px / 1120px * 100%;
}

// To keep global links dropdowns from showing through
#main-content {
  background: #fff;
  font-size: 14px;
}

@media screen and (max-width: 768px) {
  #mobile-nav-bottom ul {
    color: $white;
    > li {
      // Adds padding between sub navigation groups
      &.mobile-sub-nav-header {
        padding-top: 0.5rem;
      }
    }
  }
}
