<div class="contain-1120 section-top">
  <h3>Preserve and Share Your Research</h3>
  <p class="subhead">Northwestern University Institutional Repository</p>
  <p class="subhead">
    <%= link_to sufia.new_curation_concerns_generic_work_path, class: "button" do %>
      <%= t('sufia.share_button') %>
    <% end %>
  </p>
</div>

<div class="col-xs-12 col-sm-8">
  <%= render partial: "marketing" %>
</div>
