<footer>
    <div class="contain-970">
        <div class="footer-content">
            <a href="http://www.northwestern.edu/"><img alt="Northwestern University logo" src="https://common.northwestern.edu/v8/css/images/northwestern-university.svg" /></a>
            <ul>
                <li>&#169; 2016 Northwestern University</li>
                <li><a href="http://www.northwestern.edu/contact.html">Contact Northwestern University</a></li>
                <li><a href="http://www.northwestern.edu/hr/careers/">Careers</a></li>
                <li><a href="http://www.northwestern.edu/disclaimer.html">Disclaimer</a></li>
                <li><a href="http://www.northwestern.edu/emergency/index.html">Campus Emergency Information</a></li>
                <li><a href="http://policies.northwestern.edu/">University Policies</a></li>
            </ul>
        </div>
        <div class="footer-content contact">
            <ul>
                <li class="footer-pin-icon"><span class="hide-label">Address</span></li>
                <li>1970 Campus Drive</li>
                <li>Evanston, IL 60208</li>
            </ul>
            <ul>
                <li class="footer-phone-icon"><span class="hide-label">Phone number</span></li>
                <li>(847) 491-7658</li>
            </ul>
            <ul>
                <li class="footer-email-icon"><span class="hide-label">Email Address</span></li>
                <li><a href="mailto:digitalscholarship@northwestern.edu">digitalscholarship@northwestern.edu</a></li>
            </ul>
        </div>
        <div class="footer-content">
            <p><strong>Social Media</strong></p>
            <a href="https://www.facebook.com/NorthwesternLibrary"><span class="facebook social-slide"><span class="hide-label">Facebook</span></span></a>
            <a href="https://twitter.com/nu_library"><span class="twitter social-slide"><span class="hide-label">Twitter</span></span></a>
            <a href="https://www.instagram.com/nu_library/"><span class="instagram social-slide"><span class="hide-label">Instagram</span></span></a>
            <a href="https://www.youtube.com/user/NorthwesternLib"><span class="youtube social-slide"><span class="hide-label">YouTube</span></span></a>
        </div>
        <div class="footer-content">
            <ul>
                <li><a href="<%= main_app.terms_path %>">Terms of Use</a></li>
                <li><a href="http://www.library.northwestern.edu/about/support/index.html">Support Us</a></li>
                <li><a href="http://www.library.northwestern.edu/about/library-jobs/index.html">Library Jobs</a></li>
                <li><a href="http://www.library.northwestern.edu/about/administration/policies/index.html">Library Policies</a></li>
                <li><a href="http://www.library.northwestern.edu/about/contact/general-feedback.html">Provide Feedback</a></li>
            </ul>
        </div>
    </div>
</footer> 