<%# overriding view from Hyrax in order to pass :filename param for Box downloads %>
<div class="no-preview">
  <%= t('hyrax.works.show.no_preview') %>
  <% if Hyrax.config.display_media_download_link? %>
    <p/><%= link_to t('hyrax.file_set.show.download'),
      hyrax.download_path(file_set, filename: file_set.label),
      id: "file_download",
      data: { label: file_set.id },
      download: file_set.to_s %>
  <% end %>
</div>
