development:
  default_shoulder: 'test'
  user: 'apitest'
  password: 'apitest'
  host: 'example.org'
  port: 443
  use_ssl: true
staging:
  default_shoulder: 'test'
  user: 'apitest'
  password: 'apitest'
  host: 'example.org'
  port: 443
  use_ssl: true
production:
  default_shoulder: 'test'
  user: 'test'
  password: 'test'
  host: 'example.org'
  port: 443
  use_ssl: true