.facet-values {
  .remove {
    .glyphicon {
      color: $rich-black-50;
    }
  }
}

// Facets chevron
.panel-heading {
  &.collapse-toggle {
    .panel-title {
      &:after {
        color: $rich-black-50;
        content: "\e259"
      }
    }
    &.collapsed {
      .panel-title {
        &:after {
          content: "\e258"
        }
      }
    }
  }
}

// Searched params
#sort-dropdown {
  .dropdown-toggle {
    color: $white;
  }
}
