// TODO: Remove this now?
button {
  &.btn-primary {
    background-color: $nu-purple-60;
    border-color: $nu-purple-70;
    &:hover {
      background-color: $nu-purple-70;
      border-color: $nu-purple-70;
      &:focus {
        background-color: $nu-purple-120;
      }
    }
    &:active,
    &:focus {
      background-color: $nu-purple-120;
    }
  }
  &.btn-link {
    background-color: transparent;
    border: none;
    &:hover {
      @extend a:hover;
      background-color: transparent;
      &:active {
        @extend a:hover;
        background-color: transparent;
      }
    }
    &:active,
    &:focus {
      @extend a;
      background-color: transparent;
    }
  }
}
