// On/Off button group in Settings page under Administration
td.toggle {
  .btn-group {
    text-align: center;
    width: 100px;
  }
  input[type="submit"] {
    display: inline-block;
    margin: 0;
    padding: 0;
    min-width: 40px;
    width: 40px;
    &:not(.active) {
      background-color: $rich-black-10;
      &:hover {
        background-color: $rich-black-10;
      }
    }
    &.active {
      background: $rich-black-50;
      &:hover {
        background: $rich-black-50;
      }
    }
  }
}
