div#announcement {
  background-color: $medium-grey;
}
.landing-page {
  section {
    @media (max-width: 767px) {
      margin-bottom: 0;
    }
    &#featured_container {
      margin-bottom: 0;
    }
  }
  .content {
    margin-bottom: 5rem;
    @media (max-width: 767px) {
      margin-bottom: 0;
    }
    .section-top {
      margin-bottom: 0;
    }
  }
}
