div#announcement {
  background-color: $medium-grey;
}
.landing-page {
  section {
    &#featured_container {
      margin-bottom: 0;
    }
    @media (max-width: 767px) {
      margin-bottom: 0;
    }
  }
  .content {
    margin-bottom: 5rem;
    .section-top {
      margin-bottom: 0;
    }
    @media (max-width: 767px) {
      margin-bottom: 0;
    }
  }
  .hero {
    .hero-image.in-page {
      height: 420px;
    }
  }
}
