/* ...
 *= require jquery-ui
 *= require select2
 *= require_self
*/

//=== Navbar
$navbar-default-color:             #fff;
$navbar-default-bg:                #4c3482;

// Navbar links
$navbar-default-link-color:                #fff;
$navbar-default-link-hover-color:          #fff;
$navbar-default-link-hover-bg:             darken($navbar-default-bg, 6.5%);
$navbar-default-link-active-color:         #fff;

//=== Inverted navbar
$navbar-inverse-color:                      #fff;
$navbar-inverse-bg:                         #401f68;

// Inverted navbar links
$navbar-inverse-link-color:                 white;
$navbar-inverse-link-hover-color:           darken($navbar-inverse-link-color, 10%);


@import "bootstrap-sprockets";
@import 'bootstrap';
@import "font-awesome";
@import 'sufia/sufia';
