<footer>
	<div class="contain-970">
		<div class="footer-content">
			<a href="#"><img src="https://common.northwestern.edu/v8/css/images/northwestern-university.svg" alt="Northwestern University logo" /></a>
			<ul>
				<li>&copy; 2015 Northwestern University</li>
				<li><a href="http://www.northwesterne.edu/contact.html">Contact Northwestern University</a></li>
				<li><a href="http://www.northwestern.edu/hr/careers/">Careers</a></li>
				<li><a href="http://www.northwestern.edu/disclaimer.html">Disclaimer</a></li>
				<li><a href="http://www.northwestern.edu/emergency/index.html">Campus Emergency Information</a></li>
				<li><a href="http://policies.northwestern.edu/">University Policies</a></li>
			</ul>
		</div>
        <div class="footer-content contact">
            <ul>
                <li class="footer-pin-icon"><span class="hide-label">Address</span></li>
                <li><strong>Your Department Name</strong></li>
                <li>633 Clark Street</li>
                <li>Evanston, IL 60208</li>
            </ul>
            <ul>
                <li class="footer-phone-icon"><span class="hide-label">Phone number</span></li>
                <li>(123) 456-7890</li>
            </ul>
            <ul>
                <li class="footer-email-icon"><span class="hide-label">Email address</span></li>
                <li><a href="mailto:info@northwestern.edu">your-department@northwestern.edu</a></li>
            </ul>
		</div>
		<div class="footer-content">
			<p><strong>Social Media Center</strong></p>
			<a href="#"><span class="facebook social-slide"><span class="hide-label">Facebook</span></span></a>
			<a href="#"><span class="twitter social-slide"><span class="hide-label">Twitter</span></span></a>
			<a href="#"><span class="instagram social-slide"><span class="hide-label">Instagram</span></span></a>
			<a href="#"><span class="youtube social-slide"><span class="hide-label">YouTube</span></span></a>
            <a href="#"><span class="tumblr social-slide"><span class="hide-label">Tumblr</span></span></a>
            <a href="#"><span class="linkedin social-slide"><span class="hide-label">Linkedin</span></span></a>
            <a href="#"><span class="vimeo social-slide"><span class="hide-label">Vimeo</span></span></a>
            <a href="#"><span class="wordpress social-slide"><span class="hide-label">Word Press</span></span></a>
            <a href="#"><span class="futurity social-slide"><span class="hide-label">Futurity</span></span></a>
            <a href="#"><span class="rss social-slide"><span class="hide-label">RSS</span></span></a>
		</div>
		<div class="footer-content">
			<ul>
				<li><a href="#">Link 1</a></li>
				<li><a href="#">Link 2</a></li>
				<li><a href="#">Link 3</a></li>
				<li><a href="#">Link 4</a></li>
				<li><a href="#">Link 5</a></li>
				<li><a href="#">Link 6</a></li>
			</ul>
		</div>
	</div>
</footer>
