.center-list {
    list-style: none;
    margin: 2rem 0 0 0;
    padding: 0;
    text-align: center;
    >li {
      background: none;
      padding: 0;
    }
    li {
      display: inline;
      margin: 0;
    }
}


.hero {
  width: 100%;
  display: table;

  p {
    font: 60px/1.2em "Campton Bold",Impact,sans-serif;
    color: #fff;
    text-shadow: 2px 2px 0px #000;
    margin: 0 0 1rem 0;
    position: relative;
  }

  .hero-image {
    text-align: center;
    display: table-cell;
    width: 100%;
    vertical-align: middle;
    position: relative;
    padding: 0 1rem;

    &.in-page {
      // TODO: update this
      height: 540px;

      h3 {
        font: 24px "Campton Extra Bold",Impact,sans-serif;
        color: #fff;
        text-shadow: 2px 2px 0px #000;
        margin-bottom: 1.5em;
        position: relative;

        &:before {
          background: url(https://common.northwestern.edu/v8/css/images/icons/ltpurple-slash.svg) no-repeat 50%/17px 21px;
          padding: 0 1.5rem;
          content: " ";
        }
        &:after {
            background: url(https://common.northwestern.edu/v8/css/images/icons/ltpurple-slash.svg) no-repeat 50%/17px 21px;
            padding: 0 1.5rem;
            content: " ";
        }
      }
    }
  }
}
